.product img {
  width: 286px;
  height: 286px;
}
.product {
  width: 287px;
  height: 510px;
  border: 1px solid grey;
  position: relative;
}
.product h5,
p,
span {
  margin: 10px;
}
.btn-add {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #ffe0b3;
  border: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;
  height: 45px;
}
